In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [3]:
print(df.shape)

(145, 8)

In [4]:
duplicados = df.duplicated()

In [5]:
print(df[duplicados])

    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
10  Selena   Femenino    Casado(a)    24            6     2709       Sí
34   Lucio  Masculino   Soltero(a)    54           12     3317       No

        Departamento
10      Contabilidad
34  Recursos Humanos

In [6]:
df.drop_duplicates()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22,3,2423,No,Publicidad
1,Felipa,Femenino,Soltero(a),26,5,2639,No,Comercial
2,Daniel,Masculino,Casado(a),35,10,3122,No,Comercial
3,John,Masculino,Casado(a),35,13,3431,Sí,Servicios al cliente
4,Ruperta,Femenino,Casado(a),54,18,3962,No,Producto
...,...,...,...,...,...,...,...,...
140,Hernando,Masculino,Divorciado(a),29,4,2510,No,IT
141,Vito,Masculino,Divorciado(a),22,4,2530,No,Producto
142,Jose,Masculino,Casado(a),30,6,2760,No,Servicios al cliente
143,Marcelo,Masculino,Divorciado(a),44,15,3616,No,IT
144,Leandro,Masculino,Casado(a),37,11,3245,No,Finanzas

In [7]:
print(df)

        Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0    Alexandro  Masculino     Soltero(a)    22            3     2423       No
1       Felipa   Femenino     Soltero(a)    26            5     2639       No
2       Daniel  Masculino      Casado(a)    35           10     3122       No
3         John  Masculino      Casado(a)    35           13     3431       Sí
4      Ruperta   Femenino      Casado(a)    54           18     3962       No
..         ...        ...            ...   ...          ...      ...      ...
140   Hernando  Masculino  Divorciado(a)    29            4     2510       No
141       Vito  Masculino  Divorciado(a)    22            4     2530       No
142       Jose  Masculino      Casado(a)    30            6     2760       No
143    Marcelo  Masculino  Divorciado(a)    44           15     3616       No
144    Leandro  Masculino      Casado(a)    37           11     3245       No

             Departamento
0              Publicidad
1               Comercial
2               Comercial
3    Servicios al cliente
4                Producto
..                    ...
140                    IT
141              Producto
142  Servicios al cliente
143                    IT
144              Finanzas

[145 rows x 8 columns]